<h1>Stupid Coaching</h1>
<p class=quote id=question><%= @question %><br> -You</p>
<p class=quote id=answer><%= @answer %><br> -Your coach</p>
<p id=button><%= link_to "Ask another question", ask_path %>
